
.item {
  display: flex;
  align-items: center;
  gap: 12px; 
  padding: 12px 20px;
  margin: 15px 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
  color: #444;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  flex-wrap: wrap;
}

.item input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #6b6b6f;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.25s ease-in-out;
  margin-right: 20px;
}

.item input:checked {
  background-color: #28a745;;
  border-color: #28a745;
  transform: scale(1.1);
}

.item input:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 8px;
  width: 5px;
  height: 10px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg) scale(0);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.item input:checked:after {
  transform: rotate(45deg) scale(1);
  opacity: 1;
}

.item p {
  display: flex;
  align-items: center;
  flex: 1 1 150px;
  margin: 0;
  min-width: 120px; 
  gap: 5px;
}

.item span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.item button {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item button:hover {
  font-size: 1.7rem;
}
